.git
.gitignore
.env
.env.*
!.env.example
!.env.production.example
secrets
node_modules
apps/*/node_modules
dist
build
apps/*/dist
coverage
docker-data
minio-data
postgres-data
redis-data
logs
*.log
*.tsbuildinfo
