// PostgreSQL configurations
DOMAIN=
CORS_ORIGINS=
MAX_FILE_SIZE_BYTES=
MAX_DOWNLOADS=
MAX_EXPIRES_IN_MINUTES=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


// Redis configuration
REDIS_HOST=
REDIS_PORT=



// MinIO configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
